// Then import Bootstrap and BootstrapVue SCSS files (order is important)
// @import '/node_modules/bootstrap/scss/bootstrap.scss';

/* custom.scss */

//color
//button
$buttonPrimary: #0d6efd;
$buttonSecondary: #cfe2ff;
$buttonDanger: #dc3545;

//content
$contentPrimary: #212529;
$contentSecondary: #495057;
$contentTertiary: #6c757d;
$contentDisabled: #ced4da;
$contentInversePrimary: #ffffff;
$contentInverseSecondary: #e9ecef;
$contentInverseTertiary: #ced4da;
$contentInverseDisabled: #6c757d;
$contentDanger: #dc3545;
$contentDangerDark: #b02a37;

//background
$backgroundPrimary: #ffffff;
$backgroundSecondary: #f8f9fa;
$backgroundTertiary: #e9ecef;
$backgroundInversePrimary: #212529;
$backgroundInverseSecondary: #343a40;
$backgroundInverseTertiary: #495057;

//spacing
$spacing-0: 0px;
$spacing-1: 4px;
$spacing-2: 8px;
$spacing-3: 12px;
$spacing-4: 16px;
$spacing-5: 20px;
$spacing-6: 24px;
$spacing-7: 32px;
$spacing-8: 40px;
$spacing-9: 48px;

//border
// scss-docs-start border-radius-variables
$border-radius: 0.375rem !default;
$border-radius-sm: 0.25rem !default;
$border-radius-lg: 0.5rem !default;
$border-radius-xl: 1rem !default;
$border-radius-xxl: 2rem !default;
$border-radius-pill: 50rem !default;

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

/* 定義中文字型 */
@font-face {
  font-family: "Noto Sans TC";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans TC Regular"), local("NotoSansTC-Regular"),
    url("../assets/font/Noto_Sans_TC/NotoSansTC-Regular.otf") format("woff2");
}

html {
  font-size: 16px;
}
body {
  height: 100%;
  font-family: Arial, Helvetica, Verdana, sans-serif, "Noto Sans TC",
    "PingFang TC", "Microsoft JhengHei";
  overflow-x: hidden;
  background-color: $gray-100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $spacing-0;
}
button,
input,
optgroup,
select,
textarea {
  accent-color: $contentPrimary;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  .wrapper-content {
    padding-left: 280px;
    width: 100%;
    position: relative;

    .fullPageLoading {
      top: 0;
      left: 280px;
      height: 100vh;
      width: calc(100% - 280px);
      position: fixed;
      z-index: 2;
      background-color: rgba(255, 255, 255, 0.85);
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      .fullPageLoading-content {
        height: calc(100% - 72px);
      }
      .sr-only {
        width: 64px;
        height: 64px;
      }
      .spinner-border {
        margin-bottom: 16px;
        width: 48px;
        height: 48px;
      }
    }
  }
}

.no-wrap-text {
  white-space: nowrap !important;
}

/* ---------------------------------------------------
    COMPONENT STYLE
----------------------------------------------------- */
.overlay {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.alert {
  position: fixed;
  z-index: 9999;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -20%);
  font-size: 20px;
}
.customModal {
  min-width: 700px;
  position: fixed;
  background-color: $backgroundSecondary;
  border-radius: 16px;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -10%);
  padding: 40px;
  z-index: 9999;
  .customModal-body {
    min-height: 60vh;
    max-height: 70vh;
    overflow-y: auto;
  }
}
.nav-link {
  padding: 10px;
  font-size: 16px;
}
.mediumbtn {
  min-width: 128px;
  min-height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 6px;
  gap: 8px;
  font-size: 16px;
  max-height: 48px;
  &:disabled {
    opacity: 1;
  }
}
.customConfirmButton ,.swal2-confirm{
  background-color: #0d6efd !important;
}
.trashcanBtn {
  max-height: 52px;
  font-size: 20px;
}
.table-container {
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
}
table {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0em;
  vertical-align: middle;
  border-collapse: collapse;
  th {
    font-weight: 600;
  }
  th,
  td {
    border-top: $gray-300 2px solid;
    border-bottom: $gray-300 2px solid;
    height: 60px;
    vertical-align: middle;
    &:first-child {
      width: 50px;
    }
    /* 超过十个中文字元时折行 */
    &:not(:first-child) {
      min-width: 130px;
      max-width: 200px;
      white-space: normal;
      word-break: break-all;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.table-hover > tbody > tr:hover > * {
  --bs-table-bg-state: $backgroundSecondary;
}

.pagenation {
  i {
    font-size: 16px;
  }
  .pagenation-content {
    min-width: 139px;
    margin: 0 32px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: $contentSecondary;
  }
  /* 隐藏 input type="number" 的箭头样式 */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .pageInput {
    width: 60px;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 6px;
    border: 1px;
    gap: 12px;
    border: $gray-300 1px solid;
    text-align: center;
    outline: none;
  }

  .disabled {
    color: #ced4da;
    pointer-events: none;
    cursor: default;
    border: none;
  }
  button {
    width: 40px;
  }
}
.searchResult {
  h4 {
    //styleName: Heading/H4 - 1.5rem;
    font-family: Noto Sans TC;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: $contentPrimary;
    margin-top: 40px;
    margin-bottom: 16px;
    margin-left: 8px;
  }
  .searchResult-content {
    border-radius: 16px;
    background: $contentInversePrimary;
    .Result {
      width: 100%;
      padding: 36px 16px;
      .showCurrentPageCount {
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        color: $contentSecondary;
        margin: 32px 0;
      }
    }
    .noResult {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      color: $contentSecondary;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      p {
        margin-bottom: 0.5rem;
      }
      .custom-icon {
        font-size: 42px; /* 设置特定的字体大小 */
        color: #adb5bd;
        margin-bottom: 16px;
      }
    }
  }
}

/* 共用input、select樣式------------------------------- */
/*Start  Styling Toggle-Switch*/
.toggle-switch input {
  opacity: 0;
}

.toggle-switch label {
  width: 57px;
  height: 29px;
  background: #ccc;
  border-radius: 50px;
  display: inline-block;
  position: relative;
}

.toggle-switch label:after {
  content: "";
  display: block;
  width: 23px;
  height: 23px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2.8px;
  left: 2.8px;
  transition: left 0.15s ease-out;
}

.toggle-switch input[id="togle-swith"]:checked + label:after {
  left: 31px;
}

.toggle-switch input[id="togle-swith"]:checked + label {
  background: #0d6efd;
}
.toggle-switch span {
  color: #6c757d;
  font-size: 14px;
  font-weight: normal;
}
/*End  Styling Toggle-Switch*/

.inputOnegroup {
  .group {
    position: relative;
    width: 100%;
    input[type="password"]::-ms-reveal {
      display: none;
    }

    input {
      height: 61px;
      width: 100%;
      border: none;
      display: block;
      border-radius: 8px;
      padding-left: 0px;
      padding-top: 24px;
      font-size: 16px;
      font-weight: 600;
    }

    input {
      &:focus {
        outline: none;
      }
    }

    label {
      color: $contentTertiary;
      font-size: 16px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 0px;
      top: 50%;
      transform: translate(0, -50%);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    /* active state for select and input with value */
    input:focus ~ label,
    input[data-value]:not([data-value=""]) ~ label {
      top: 8px;
      transform: unset;
      font-size: 14px;
    }
  }
  width: 100%;
  border-radius: 8px;
  border: $gray-300 1px solid;
  &.error-state {
    border-color: $contentDanger;
  }

  input {
    border: none;
  }
  .input-group-left {
    padding: 16px 18px;
    i {
      font-size: 16px;
    }
  }

  .input-group-right {
    padding-right: 18px;
    i {
      font-size: 16px;
    }
  }
}
.inputTwogroupBox,
.inputThreegroup,
.inputThreegroupBox,
.SelectTwoGroupBox .SelectThreeGroupBox {
  width: 100%;
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  input[type="number"] {
    appearance: textfield; /* 標準的 appearance 屬性 */
    -webkit-appearance: textfield; /* 兼容WebKit/Blink（例如Chrome和Safari） */
    -moz-appearance: textfield; /* 兼容Firefox */
    -ms-appearance: textfield; /* 兼容Microsoft Edge */
  }
  /* 选择所有禁用状态的输入框 */
  &.disabled {
    input {
      /* 在此定义禁用状态的样式 */
      background-color: #f2f2f2; /* 背景颜色 */
      color: grey !important; /* 文本颜色 */
      border: 1px solid #ccc; /* 边框样式 */
      cursor: not-allowed; /* 鼠标指针样式 */
    }
  }

  i {
    font-size: 16px;
  }
  .inputTwogroup,
  .SelectTwoGroupBox {
    width: 100%;
    .group {
      position: relative;
      width: 100%;
      input[type="password"]::-ms-reveal {
        display: none;
      }

      input {
        width: 100%;
        border: 1px #e8e8e8 solid;
        display: block;
        border-radius: 6px;
        padding-left: 16px;
        padding-top: 24px;
        height: 52px;
        line-height: 21px;
        letter-spacing: 0em;
        color: $contentPrimary;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        &.error-state {
          border: 1px $contentDanger solid;
        }
        &:focus {
          outline: none;
        }
      }

      label {
        color: $contentTertiary;
        font-size: 14px;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        left: 16px;
        top: 50%;
        transform: translate(0, -50%);
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
      /* active state for select and input with value */
      input:focus ~ label,
      input[data-value]:not([data-value=""]) ~ label {
        top: 8px;
        transform: unset;
      }
    }
    width: 100%;
    border: $gray-300 1px solid;
    height: 52px;
    border-radius: 6px;
    border: 1px;
    gap: 12px;
    font-size: 14px;

    .input-group-right {
      position: absolute;
      right: 18px;
      top: 50%;
      transform: translate(0, -50%);
      i.error-state {
        color: $contentDanger;
      }
    }
  }
  .error {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: $contentDanger;
    padding-left: 16px;
  }
}
.inputThreegroup {
  width: 100%;
  .group {
    position: relative;
    width: 100%;
    input[type="password"]::-ms-reveal {
      display: none;
    }

    input {
      width: 100%;
      border: none;
      display: block;
      border-radius: 6px;
      border: none;
      padding-left: 16px;
      padding-top: 24px;
      background-color: $backgroundSecondary;
      line-height: 21px;
      letter-spacing: 0em;
      color: $contentPrimary;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      height: 48px;
      gap: 12px;
      &.error-state {
        border: 1px $contentDanger solid;
      }
    }

    input {
      &:focus {
        outline: none;
      }
    }

    label {
      color: $contentTertiary;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 16px;
      top: 50%;
      transform: translate(0, -50%);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    /* active state for select and input with value */
    input:focus ~ label,
    input[data-value]:not([data-value=""]) ~ label {
      top: 8px;
      transform: unset;
    }
    i.error-state {
      color: $contentDanger;
    }
  }

  font-size: 14px;
  &.error-state {
    border-color: $contentDanger;
  }

  input {
    border: none;
  }
  .input-group-right {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
  }
  // .input-group-right {
  //   padding: 16px 18px;
  // }
}
.SelectOnegroupBox,
.SelectTwoGroupBox {
  border: $gray-300 1px solid;
  border-radius: 6px;
}
.SelectOnegroupBox,
.SelectTwoGroupBox {
  height: 52px;
  .select-box__input-text {
    background-color: $backgroundPrimary;
  }
}

.SelectThreeGroupBox {
  height: 48px;
  .select-box__input-text {
    background-color: $backgroundSecondary;
  }
}
.SelectOnegroupBox,
.SelectTwoGroupBox,
.SelectThreeGroupBox {
  width: 100%;
}
.Selectgroup {
  width: 100%;

  .select-box {
    position: relative;
    display: block;
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
    color: #60666d;
    z-index: 1;
    &.isSelectOpen {
      & .select-box__list {
        opacity: 1;
        animation-name: none;
        .select-box__option {
          cursor: pointer;
        }
      }

      .select-box__icon {
        transform: translateY(-50%) rotate(180deg);
      }
    }
    &__current {
      position: relative;
      cursor: pointer;
      outline: none;
      label {
        position: absolute;
        left: 16px;
        top: 3px;
        font-family: Noto Sans TC;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 16px;
      opacity: 0.3;
      transition: 0.2s ease;
    }

    &__value {
      display: flex;
    }

    &__input {
      display: none;
      &:checked + .select-box__input-text {
        display: block;
      }
    }

    &__input-text {
      height: 100%;
      display: none;
      width: 100%;
      margin: 0;
      padding-left: 16px;
      padding-top: 24px;
      font-family: Noto Sans TC;
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: $contentPrimary;
      border-radius: 6px;
    }

    &__list {
      position: absolute;
      width: 100%;
      opacity: 0;
      height: 190px;
      overflow: auto;
      background-color: $backgroundPrimary;
      animation-name: HideList;
      animation-duration: 0.5s;
      animation-delay: 0.5s;
      animation-fill-mode: forwards;
      animation-timing-function: step-start;
      box-shadow: 0px 8px 16px 0px #00000026;

      ul {
        list-style: none;
        padding-left: 12px;
        padding-right: 12px;
      }
    }

    &__option {
      display: block;
      padding: 12px;
      background-color: $backgroundPrimary;
      color: $contentPrimary;
      font-family: Noto Sans TC;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0em;
      text-align: left;
      &:hover,
      &:focus {
        font-family: Noto Sans TC;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0em;
        text-align: left;
        color: #0a58ca;
        background-color: #cfe2ff;
        border-radius: 6px;
      }
    }
  }

  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  @keyframes HideList {
    from {
      transform: scaleY(1);
    }
    to {
      transform: scaleY(0);
    }
  }
  .group {
    position: relative;
    width: 100%;
    input[type="password"]::-ms-reveal {
      display: none;
    }
    #searchForm.Level {
      display: none;
      position: absolute;
      top: 100%;
      right: 0;
      left: 0;
      z-index: 999;
      margin: 0;
      padding: 0;
      list-style: none;
    }
    select {
      width: 100%;
      border: none;
      display: block;
      border-radius: 6px;
      border: none;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 24px;
      background-color: $backgroundSecondary;
      line-height: 21px;
      letter-spacing: 0em;
      // -webkit-appearance: none;
      // -moz-appearance: none;
      appearance: none;
      .SelectTwoGroupBox {
        height: 52px;
      }
      .SelectThreeGroupBox {
        height: 48px;
      }
      font-size: 14px;
      line-height: 21px;
      color: #6c757d;
      font-weight: 400;
      option {
        border: none;
        background-color: $backgroundPrimary;
        height: 40px;
        &:hover {
          background-color: #cfe2ff;
          color: #0a58ca;
        }
      }

      &.valued {
        color: $contentPrimary;
        font-weight: 600;
      }
      &:focus {
        outline: none;
      }
    }

    /* 調整icon旋轉180度的樣式 */
    .icon-container {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%);
      /* 设置 pointer-events: none 让 span 元素不接收点击事件 */
      pointer-events: none;
    }

    .rotated {
      /* 讓icon旋轉180度的樣式 */
      transform: rotate(180deg);
    }
    label {
      color: $contentTertiary;
      font-size: 14px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 16px;
      top: 50%;
      transform: translate(0, -50%);
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    /* active state for select and input with value */
    select:valid ~ label {
      top: 6px;
      transform: unset;
    }
  }

  &.error-state {
    border-color: $contentDanger;
  }

  .input-group-right {
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translate(0, -50%);
  }
  // .input-group-right {
  //   padding: 16px 18px;
  // }
}
#clear-button {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

#clear-button.show {
  opacity: 1;
  pointer-events: auto;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $contentInversePrimary inset !important;
}
/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */

nav#header {
  height: 72px;
  padding: 16px 40px;
  border-bottom: 1px solid $gray-300;

  /* 隱藏 hover-box 初始狀態 */
  .hide-box {
    border-radius: 8px;
    display: none;
    min-width: 280px;
    padding: 16px;
  }

  /* 將 navbar-brand 的定位設置為相對定位，以便 hover-box 可以根據它定位 */
  .navbar-brand {
    position: relative;
  }
  .imgandnamebox {
    margin-bottom: 16px;
    color: $contentInverseDisabled;
    .showName {
      font-size: 14px;
    }
  }
  .custom-hr {
    width: 100%;
    height: 1px;
    background: $gray-300;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  /* 鼠標在 navbar-brand 和 hover-box 上時，顯示 hover-box */
  .hide-box {
    display: block;
    position: absolute;
    top: calc(81px + 24px); /* 距離 navbar-brand 底部的距離 */
    right: 32px;
    background-color: $white;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px #00000026;
    padding: $spacing-4;
    z-index: 2;
    &::before {
      content: "";
      position: absolute;
      top: -12px;
      right: -7px;
      width: 0;
      height: 0;
      width: 0;
      height: 0;
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 40px solid $contentInversePrimary;
      border-radius: 20px;
    }
    button {
      font-size: 16px;
      width: 248px;
      height: Hug 48px;
      padding: 12px 16px 12px 16px;
      border-radius: 8px;
      margin: 0;
      color: $contentSecondary;
      &:hover {
        background-color: $backgroundSecondary;
        color: $contentPrimary;
      }
      &.logout:hover {
        color: #b02a37;
      }
    }

    .logout {
      color: $contentDanger;
      i {
        margin-right: 8px;
      }
    }
  }

  /* 垂直排列按鈕 */
  .buttons {
    display: flex;
    flex-direction: column;
  }
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  width: 280px;
  // min-height: 1024px;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background: $backgroundInversePrimary;
  color: $contentInversePrimary;
  transition: all 0.3s;
  box-shadow: 0px 8px 16px 0px #00000026;
  overflow-y: auto;

  &.active {
    margin-left: -250px;
  }

  .sidebar-header {
    padding: 40px 20px;

    a {
      text-decoration: none;
      color: $contentInversePrimary;
      font-size: 28px;
    }
  }
  .components {
    padding: $spacing-0 $spacing-5;
  }
  ul {
    p {
      color: $contentInversePrimary;
    }
    li a {
      font-size: 16px;
      display: block;
      text-decoration: none;
      width: 240px;
      height: 48px;
      padding: $spacing-3 $spacing-4 $spacing-3 $spacing-4;
      margin-bottom: $spacing-5;
      border-radius: $border-radius-lg;
      gap: $spacing-3;
      color: $contentInversePrimary;
      &:hover {
        background: $backgroundInverseSecondary;
      }

      i {
        margin-right: $spacing-3;
      }
    }
  }
  .sidebar-items a {
    margin-bottom: $spacing-1;
    padding: $spacing-3 $spacing-9;
    font-size: 14px;
    &:hover {
      background: $backgroundInverseTertiary;
    }
  }

  ul li.active > a,
  a[aria-expanded="true"] {
    margin-bottom: $spacing-1;
    background-color: $backgroundInverseSecondary;
  }

  a[data-toggle="collapse"] {
    position: relative;
  }
  a.openstate {
    margin-bottom: 4px;
  }
  li:is(:has(.show)) > a {
    margin-bottom: $spacing-1;
    .bi-chevron-down {
      transform: rotate(180deg);
      transition: 0.2s ease;
    }
  }
  li:is(:not(.show)) > a {
    .bi-chevron-down {
      transition: 0.2s ease;
    }
  }
  /* 匹配没有包含 .show 的 .active 元素的 a 子元素 */
  .active:is(:not(:has(.show))) > a {
    /* 在這裡添加你需要的樣式 */
    margin-bottom: $spacing-5;
  }
}

.active.router-link-exact-active {
  background-color: $backgroundInverseTertiary;
}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#Breadcrumb {
  position: relative;
  display: inline-block;
  margin-bottom: 40px;
  i {
    font-size: 16px;
  }
  nav {
    ol {
      margin: 0;
    }
    // z-index: 2;
    a {
      text-decoration: none;
      color: $contentPrimary;
      height: 32px;
      padding: 0 8px;
      font-family: Noto Sans TC;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0em;
      display: inline-block;
      border-radius: 4px;
      line-height: 32px;
      &:hover {
        background-color: $backgroundPrimary;
        -webkit-box-shadow: 0px 2px 4px 0px #00000013;
        box-shadow: 0 2px 4px #00000013;
      }
    }
    .custom-breadcrumb-item i {
      margin: 0 8px;
    }
    .disabled {
      color: $contentSecondary;
      pointer-events: none;
      cursor: default;
    }

    .custom-breadcrumb-item:last-child i {
      display: none;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
.page-content {
  padding: 40px;
}
/* ---------------------------------------------------
    LOGIN STYLE
----------------------------------------------------- */
.noLogin {
  height: 100vh;
}
#login {
  width: 416px;
  min-height: 474px;
  padding: 48px;
  border-radius: 16px;
  gap: 48px;
  background-color: $backgroundPrimary;
  .loginBtn {
    height: 56px;
    padding: 16px;
    border-radius: 8px;
    gap: 8px;
    margin-top: 32px;
  }
  .awarning {
    background-color: #f8d7da;
    width: 100%;
    height: 37px;
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    gap: 8px;
    color: $contentDangerDark;
    //styleName: Inline Text/Inline Text-Small;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    margin-bottom: 16px;
    i {
      margin-right: 8px;
      color: $contentDangerDark;
    }
  }
  i {
    color: $contentTertiary;
    &.error-state {
      color: $contentDanger;
    }
  }
  form {
    height: 100%;
  }
  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    &:first-child {
      margin-bottom: 12px;
    }
    &:nth-child(2) {
      margin-bottom: 48px;
    }
  }
  .btn-primary {
    //styleName: Inline Text/Inline Text-1rem-Regular;
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    &:hover {
      background-color: #0a58ca;
    }
  }
  .inputOnegroupBox {
    margin-bottom: 16px;
  }
  .error {
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: $contentDanger;
    margin-left: 12px;
    margin-top: 4px;
  }
}

/* ---------------------------------------------------
    home STYLE
----------------------------------------------------- */
//styleName: Heading/H3 - 1.75rem;
#home {
  height: calc(100vh - 73px - 80px);
  h3 {
    font-family: Noto Sans TC;
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 40px;
    color: #6c757d;
  }
}

/* ---------------------------------------------------
    memberSearch STYLE
----------------------------------------------------- */
.memberSearch {
  .searchResult-content {
    min-height: calc(
      100vh - /* 視窗高度 */ 21px - 357px - /* 減去其他高度 */ 52px * 2
        /* 減去搜尋條件高度,有幾行就乘以幾個 */
    );
  }
}
.searchSetion {
  padding: 16px;
  width: 100%;
  border-radius: 16px;
  background: $backgroundPrimary;
  margin-bottom: 40px;
  .input-group {
    flex-wrap: unset;
    .input-group-prepend {
      .input-group-text {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        height: 52px;
        color: #6c757d;
        font-size: 14px;
        padding: 5px 10px;
        &.error {
          border-color: $contentDanger;
        }
        input {
          margin-right: 6px;
        }
      }
    }
  }
  #RegisterPhone,
  #CAID {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 1px solid #e8e8e8;
  }

  .inputTwogroupBox,
  .SelectTwoGroupBox,
  .inputThreegroupBox,
  .SelectThreeGroupBox,
  #custom-datepicker {
    margin-right: 8px;
  }

  .advancedTitle {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: $contentPrimary;
    margin-top: 12px;
    margin-bottom: 4px;
    margin-left: 6px;
  }
  .advancedTitle-content {
    width: 37.5%;
  }
  .hidden {
    display: none;
  }
}

/* ---------------------------------------------------
    productSearch STYLE
----------------------------------------------------- */
.productSearch {
  .searchResult-content {
    min-height: calc(
      100vh - /* 視窗高度 */ 357px /* 減去其他高度 */ - 40px * 1
        /* 減去搜尋條件高度,有幾行就乘以幾個 */
    );
  }
}
/* ---------------------------------------------------
    orderSearch STYLE
----------------------------------------------------- */
.orderSearch {
  .searchResult-content {
    min-height: calc(
      100vh - /* 視窗高度 */ 21px - 357px - /* 減去其他高度 */ 52px * 2
        /* 減去搜尋條件高度,有幾行就乘以幾個 */
    );
  }
  .advancedTitle-content {
    width: 56%;
  }
  .order-expand-btn {
    color: $contentPrimary;
    width: 16px;
    height: 16px;
    background-color: $backgroundPrimary;
    border: 1.5px solid $contentPrimary;
    border-radius: 2px;
    margin-right: 8px;
  }
  .order-expanded-btn {
    color: #0d6efd;
    width: 16px;
    height: 16px;
    background-color: $backgroundPrimary;
    border: 1.5px solid #0d6efd;
    border-radius: 2px;
    margin-right: 8px;
  }
  .bi::before,
  [class^="bi-"]::before,
  [class*=" bi-"]::before {
    vertical-align: -0.2em;
  }
  .trIsChild,
  .trIsChild td {
    border: none;
    background-color: $backgroundSecondary;
  }
  .trIsChild {
    td {
      font-family: Noto Sans TC;
      font-size: 14px !important;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
      color: $contentSecondary;
      position: relative;
    }
    .ListOrderNumber {
      z-index: 1;
      background-color: $backgroundSecondary;
      margin-left: 15px;
      padding-left: 10px;
    }

    .trIsFirstChild::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      border: 1px solid $buttonPrimary;
      border-radius: 8px;
      border-right: none;
      border-bottom: none;
      top: 50%;
    }

    .trIsLastChild::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      border: 1px solid $buttonPrimary;
      border-radius: 8px;
      bottom: 50%;
      border-right: none;
      border-top: none;
    }
    .trIsMiddleChild::before {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      border-left: 1px solid $buttonPrimary;
      bottom: 0%;
      border-right: none;
    }
    .trIsMiddleChild::after {
      content: "";
      position: absolute;
      width: 50px;
      height: 100%;
      border: 1px solid $buttonPrimary;
      border-radius: 8px;
      bottom: 50%;
      border-right: none;
      border-top: none;
    }
  }
  .rotate-90 {
    transform: rotate(90deg);
    transition: 0.2s;
  }
  .rotate-180 {
    transform: rotate(180deg);
    transition: 0.1s;
  }
}
/* ---------------------------------------------------
    userAcount STYLE
----------------------------------------------------- */
.userAcount {
  .searchResult-content {
    padding: 16px;
    width: 100%;
    border-radius: 16px;
    background: $backgroundPrimary;
    margin-bottom: 40px;
  }
}
/* ---------------------------------------------------
    orderSearch STYLE
----------------------------------------------------- */
.voucherSearch {
  .searchResult-content {
    min-height: calc(
      100vh - /* 視窗高度 */ 21px - 357px - /* 減去其他高度 */ 52px * 2
        /* 減去搜尋條件高度,有幾行就乘以幾個 */
    );
  }
}
/* ---------------------------------------------------
    couponManagement STYLE
----------------------------------------------------- */
.couponManagement {
  .searchResult-content {
    min-height: calc(
      100vh - /* 視窗高度 */ 357px /* 減去其他高度 */ - 40px * 1 - 48px - 16px
        /* 減去搜尋條件高度,有幾行就乘以幾個 */
    );
    table {
      th:nth-child(2),
      td:nth-child(2) {
        width: 50px;
        min-width: unset;
        white-space: nowrap;
      }
    }
  }
  .modal-footer .btn,
  td .btn {
    padding: 12px 16px 12px 16px;
    border-radius: 6px;
    gap: 8px;
    font-size: 16px;
    white-space: nowrap;
    max-height: 48px;
    min-width: 66px;
    &:disabled {
      opacity: 1;
    }
  }
  .addAIDBtn {
    border-radius: 6px;
    padding: 6px;
    font-size: 14px;
    border: 1px solid #e8e8e8;
    color: $contentSecondary;

    &:hover {
      opacity: 0.8;
    }
  }
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .disabled {
    color: $contentSecondary;
    pointer-events: none;
    cursor: default;
  }
  h6 {
    margin-bottom: 10px;
    margin-left: 4px;
    font-size: 16px;
  }
  /* 标签容器 */
  .tab-container {
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }
  .bearText {
    font-size: 16px;
  }
  .tab {
    padding: 10px;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    margin-bottom: 5px;
    color: #0d6efd;
    &.disabled {
      color: $contentSecondary;
      pointer-events: none;
      cursor: default;
      opacity: 0.5;
    }
    &:hover {
      border: solid 1px $gray-300;
      border-right: none;
    }
  }

  .tab:last-child {
    border-right: none;
  }

  .tab.active {
    color: #000;
    background-color: $backgroundPrimary;
    border: solid 1px $gray-300;
    border-right: none;
  }

  /* 标签内容 */
  .tab-content {
    padding: 10px;
    background-color: $backgroundPrimary;
    border-radius: 0px 4px 4px 4px;
    h6 {
      color: #000;
    }
    label {
      color: $contentSecondary;
    }
  }

  .tab-content.active {
    display: block;
  }
  // ol {
  //   margin: 0;
  //   margin-bottom: 10px;
  //   counter-reset: item;
  //   padding-left: 20px;
  // }

  // li {
  //   margin-right: 10px;
  // }
}
/* ---------------------------------------------------
    custom DatePicker STYLE
----------------------------------------------------- */
.ant-picker-content {
  th,
  td {
    border-top: none;
    border-bottom: none;
    height: 40px;
    vertical-align: middle;
  }
}
.ant-picker-dropdown .ant-picker-header-view button {
  cursor: unset;
  pointer-events: none;
}
.ant-picker-header {
  padding: 15px 23px;
}
.ant-picker-dropdown .ant-picker-header-view button:hover {
  color: unset;
}

.ant-picker-dropdown .ant-picker-header > button {
  &:first-child,
  &:last-child {
    display: none;
  }
}
.datepicaker-error {
  //styleName: Inline Text/Inline Text-Small;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: $contentDanger;
  margin-left: 16px;
}
.ant-picker-dropdown .ant-picker-panel-container {
  padding: 4px;
}
.ant-picker-header-prev-btn {
  color: white !important;
  &::before {
    content: url("../assets/svg/arrow-left.svg");
    display: inline-block;
    width: 16px; /* 调整图标的宽度 */
    height: 16px; /* 调整图标的高度 */
    /* 其他样式 */
  }
}
.ant-picker-header-next-btn {
  color: white !important;
  &::before {
    content: url("../assets/svg/arrow-right.svg");
    display: inline-block;
    width: 16px; /* 调整图标的宽度 */
    height: 16px; /* 调整图标的高度 */
    /* 其他样式 */
  }
}
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
  padding-bottom: 0;
}
.ant-picker-dropdown .ant-picker-cell-in-view .ant-picker-cell-inner {
  &:hover::before {
    position: absolute;
    top: 0;
    inset-inline-end: 0;
    bottom: 0;
    inset-inline-start: 0;
    z-index: 1;
    border: 1px solid #1677ff;
    border-radius: 4px;
    content: "";
  }
}
.ant-picker-dropdown .ant-picker-cell-disabled::before {
  background-color: $backgroundPrimary;
}
.ant-picker-dropdown
  .ant-picker-cell:not(.ant-picker-cell-in-view)
  .ant-picker-cell-inner {
  display: none;
}
.ant-picker-dropdown .ant-picker-cell .ant-picker-cell-inner {
  width: 100%;
  height: 40px;
}
.ant-picker-dropdown {
  .ant-picker-cell::before {
    height: 40px;
  }
  .ant-picker-cell .ant-picker-cell-inner {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ant-picker-cell-range-hover-start,
  .ant-picker-cell-range-hover-end,
  .ant-picker-cell-range-hover {
    &::after {
      display: none;
    }
  }
  .ant-picker-cell-range-hover .ant-picker-cell-inner,
  .ant-picker-cell-range-hover-end .ant-picker-cell-inner,
  .ant-picker-cell-range-hover-start .ant-picker-cell-inner,
  .ant-picker-cell-in-view.ant-picker-cell-in-range .ant-picker-cell-inner {
    background-color: #cfe2ff;
    color: #0a58ca;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 0;
  }
  .ant-picker-cell-in-view.ant-picker-cell-today
    .ant-picker-cell-inner::before {
    display: none;
  }
  //已選取中間格
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(
      .ant-picker-cell-range-start-single
    )::before,
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(
      .ant-picker-cell-range-end-single
    )::before {
    background-color: #cfe2ff;
  }
  .ant-picker-panel-container .ant-picker-panel-layout {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .ant-picker-cell-in-range .ant-picker-cell-inner {
    border-radius: 0;
  }
  .ant-picker-panel-layout {
    justify-content: center;
  }
}

.ant-picker-dropdown .ant-picker-content th {
  //styleName: Heading/H6 - Small;
  font-family: Noto Sans TC;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: $contentPrimary;
}
.ant-picker-dropdown
  .ant-picker-cell:hover:not(.ant-picker-cell-in-view)
  .ant-picker-cell-inner,
.ant-picker-dropdown
  .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(
    .ant-picker-cell-range-start
  ):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(
    .ant-picker-cell-range-hover-end
  )
  .ant-picker-cell-inner {
  background-color: $backgroundPrimary;
}
.ant-picker-dropdown .ant-picker-cell-disabled .ant-picker-cell-inner {
  background-color: $backgroundPrimary;
}
.ant-picker-active-bar {
  display: none;
}
.ant-picker-focused {
  box-shadow: unset;
}
.ant-picker-dropdown .ant-picker-cell {
  padding: 0;
}
#custom-datepicker {
  width: 100%;
  position: relative;

  i {
    position: absolute;
    top: 16px;
    right: 16px;
    pointer-events: none;
    @media only screen and (max-width: 1350px) {
      display: none;
    }
  }
  .custom-datepicker-label {
    position: absolute;
    top: 5px;
    left: 16px;
    z-index: 1;
    font-family: Noto Sans TC;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #6c757d;
  }
  .ant-picker {
    align-items: end;
    padding: 5px 16px;
  }
  .ant-picker-dropdown {
    .ant-picker-header {
      button {
        display: none;
      }
    }
    .ant-picker-content {
      th,
      td {
        height: 40px;
        padding: 0;
      }
    }
    .ant-picker-cell {
      display: none !important;
      padding: 0;
      .ant-picker-cell-inner {
        display: none !important;
      }
    }
  }

  .ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
    padding: 12px;
  }

  .ant-picker-panels {
    width: 600px;
    height: 397px;
  }
  .ant-picker {
    height: 52px;
    &:not(.ant-picker-status-error) {
      border-color: #dee2e6;
    }

    input {
      font-family: Noto Sans TC;
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0em;
      text-align: left;
    }

    .ant-picker-range-separator {
      @media only screen and (max-width: 1300px) {
        padding: 0;
      }
      ::before {
        content: "-";
        font-family: Noto Sans TC;
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color: #000;
        position: absolute;
        top: -5px;
      }

      svg {
        display: none;
      }
    }
    .ant-picker-suffix {
      .anticon-calendar {
        display: none;
      }
    }
  }
  .ant-picker .ant-picker-input {
    max-width: 89px;
    @media only screen and (max-width: 1550px) {
      width: 100%;
    }
  }
}
